@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin; /* ทำให้บางลง */
  scrollbar-color: #D4AF37 #0F1021;
  scroll-behavior: smooth;
}

/* animation nav-bar */
.nav-link{
  position: relative;
  color: white;
  transition: 0.3s;
}

/* hover glow */
.nav-link:hover{
  color:#D4AF37;
  text-shadow:0 0 8px #D4AF37;
}

/* underline */
.nav-link::after{
  content:"";
  position:absolute;
  width:0%;
  height:2px;
  bottom:-5px;
  left:0;
  background:#D4AF37;
  transition:0.3s;
}

.nav-link:hover::after{
  width:100%;
}

.perspective {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.backface-hidden {
  backface-visibility: hidden;
}